.header {
	 background-color: #E0FFFF;
}
.footer {
	 background-color: #ADD8E6;
}
.title-bar {
	background-color: #FFF;
}
.wrap {
	
	background-color: #ADD8E6;
}
.submenumenuvertical {
	background-color: #ADD8E6;
}
.rowexpandedcalloutsecondary {
	background-color: #ADD8E6;
}
